#myCanvas {
  position:absolute;
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
  filter: blur(.5rem);
}

body{
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  background-color: #d1cddb;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1,h2,h3 {
  line-height:1.2;

}
#content {
  padding: 50px;
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  background: #d1cddb;
}

a {
  color:#666;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
